@model Rev.Models.Registro

@{
    ViewData["Title"] = "Remover registro";
}

<h2>@ViewData["Title"]</h2>

<hr />
<tr></tr>

<h3>Deseja realmente remover este item ?</h3>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descrição)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descrição)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tipo.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Operacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Operacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fonte)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fonte)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>

